@charset "UTF-8";
/* ========= styles for index.html ========*/
body {
    position: relative;
    font-family: "Hiragino Kaku Gothic ProN";
}

ol, ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.center {
    margin: auto;
}

.header {
    width: 100%;
    height: 111px;
    background: #24436f;
    z-index: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header__container {
    position: relative;
    height: 75px;
    width: 1126px;
    top: 0;
    display: flex;
    flex-direction: column;
}

.header__main-container {
    height: 30px;
    width: 1126px;
    display: flex;
    margin-top: 13px;
}
.header-logo__link {
    width: 485px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo__frame {
    width: 122px;
    height: 22px;
    background: url("../images/Logo.png");
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.header-logo__description {
    width: 335px;
    height: 30px;
    top: 0;
    left: 140px;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #BFC9D7;
}

.header-release__list {
    width: 316px;
    height: 30px;
    margin-left: 26px;
    background: #345584;
    border-radius: 4px;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-release__item-link {
    text-decoration: none;
    color: #fff;
}

.header-release__item-link:hover {
    font-weight: bold;
}
/*line*/
.header-release__item:not(:last-child)::after, .header-navigation__list .header-navigation__item:not(:last-child)::after {
    content: '';
    width: 1px;
    height: 13px;
    background-color: #bfc9d7;
    position: absolute;
    right: -11px;
    top: 2px;
}

.header-navigation__list .header-navigation__item:not(:last-child)::after {
    top: 0;
}

.header-release__item {
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    /* or 138% */
    display: flex;
    align-items: center;
    z-index: 2;
    color: #fff;
}

.header-search-box {
    width: 288px;
    height: 30px;
    margin-left: 11px;
    display: flex;
}

.header-search-box__field {
    width: 228px;
    height: 25px;
    padding: 3px 15px 2px 15px;
    background: #fff;
    border-radius: 4px 0 0 4px;
    border: none;
}

.header-search-box__field:focus {
    outline: none;
}

.header-search-box__button {
    /* button */
    display: flex;
    justify-items: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #3081c9;
    border-radius: 0 4px 4px 0;
    z-index: 200;
}
.header-search-box__button-icon {
    background: url("../images/Vector.png") no-repeat;
    display: block;
    width: 18px;
    height: 18px;
    margin: auto;
}

/* header navigation */

.header-navigation {
    width: 215px;
    height: 13px;
    align-items: center;
    margin-top: 9px;
}

.header-navigation__list {
    display: flex;
    justify-content: space-between;
}

.header-navigation__item {
    height: 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    position: relative;
}
.header-navigation__item-link {
    color: #bfc9d7;
}
.header-navigation__item-link:hover {
    color: #fff;
}
.header-navigation__item.is-active {
    font-weight: bold;
    color: #fff;
}
.header-categories {
    width: 100%;
    height: 36px;
    left: 0;
    top: 75px;
    border: 1px solid #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;

}
.header-categories__list {
    display: flex;
    justify-content: space-between;
    width: 837px;
    height: 13px;
    top: 12px;
}

.header-categories__item-link {
    color: #294c7a;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    display: inline-block;
    text-decoration: none;
    transition: color 0.2s, font-weight 0.2s;
}

.header-categories__item-link.is-active {
    font-weight: bold;
}

/* end header */
/* ranking */

.ranking {
    height: 263px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

.ranking__list {
    display: flex;
    justify-content: space-between;
    width: 1126px;
    counter-reset: rank-number;
}

.ranking-article__link {
    display: flex;
    flex-direction: column;
    width: 181px;
    height: 219px;
    text-decoration: none;
}

.ranking-article__link:hover {
    text-decoration: underline #000;
}

.ranking-article__image-container {
    position: relative;
    max-width: 181px;
    max-height: 100px;
    display: block;
}

.ranking-article__rank-number {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    top: 0;
    /* brand_color */
    display: flex;
    justify-content: center;
    background: #294c7a;
}

.ranking-article__rank-number::before {
    content: counter(rank-number);
    counter-increment: rank-number;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
    /* or 147% */
    color: #fff;
}

.ranking-article__content-container {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.ranking-article__content-box {
    margin: 9px 10px 9px 10px;
    position: relative;
    height: 100%;
}

.ranking-article__title {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-overflow: ellipsis;
    color: #3B3B3B;
}

.ranking-article__info, .main-content-article__info {
    font-size: 13px;
    font-style: normal;
    line-height: 13px;
    font-weight: normal;
    color: #a2a2a2;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.ranking-article__info-uploaded-time::before, .main-content-article__info-uploaded-time::before  {
    content: '';
    width: 13px;
    height: 13px;
    background: url("../images/article/icon.svg") no-repeat;
    background-size: 13px 13px;
    display: inline-block;
    margin-right: 3px;
}

.ranking-article__info-uploaded-time {
    vertical-align: center;
}

.ranking-article__info {
    position: absolute;
    bottom: 0;
}

/* end ranking */

/* main content */

.main-area {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #fff;
}

.main-area__wrapper {
    display: flex;
    width: 1126px;
    justify-content: space-between;
    margin-top: 40px;
}

.main-content {
    width: 779px;
}

.main-content__content-feed {
    width: 778px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-content-article {
    position: relative;
    padding-top: 15px;
    width: 380px;
    height: 118px;
    border-bottom: 1px solid #e4e4e4;
}
.main-content-article:hover {
    text-decoration: underline #000;
}

.main-content-article__body {
    display: flex;
    justify-content: space-between;
}

.main-content-article__title {
    /* 強調テキスト14px */
    width: 256px;
    height: 66px;
    text-overflow: ellipsis;
    color: #3B3B3B;
    overflow: hidden;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 160%;
}

.main-content-article__image {
    width: 100px;
    height: 66px;
}

.main-content-article__info {
    position: absolute;
    bottom: 17px;
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.main-content-article__info-company-name {
    margin-left: 12px;
}

.main-content__view-more-button {
    width: 110px;
    height: 38px;
    background: #3081C9;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    margin: 30px auto 103px;
}

.main-content__view-more-button-link {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px; /*179%*/
    text-decoration: none;
    color: #FFFFFF;
    width: 110px;
    height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.main-content__view-more-button-link:hover {
    background: #59a7e6;
}

.side-content {
    width: 312px;
}

.side-content__keyword-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    /* text */
    color: #3B3B3B;
}

.side-content__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: flex-start;
    border-bottom: 1px solid #e4e4e4;
    list-style-type: none;
}

.side-content__item-link {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    padding: 0 8px 0 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    background: #f1f1f1;
    border-radius: 11px;
    color: #3B3B3B;
    text-decoration: none;
    margin-right: 10px;
}

.side-content__item-link:hover {
    background: #3081c9;
    color: #fff;
}

.side-content__view-more-keyword-link {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    padding: 0 8px 0 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    background: #ffffff;
    border: 1px solid #f1f1f1;
    border-radius: 11px;
    color: #3b3b3b;
    text-decoration: none;
    margin-right: 10px;
}

.side-content__view-more-keyword-link:hover {
    background: #f1f1f1;
    color: #3081c9;
}

/* end main content */

/* footer */

.footer {
    height: 356px;
    background: #fafafa;
    display: flex;
    justify-content: center;
}

.footer__container {
    width: 1126px;
    display: flex;
    margin-top: 60px;
    flex-direction: column;
}

.footer__navigation {
    height: 210px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
}

.footer__news-list, .footer__recommend-list, .footer__advertise-list, .footer__social-network-list {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footer__list-title {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    color: #000;
}

.blank-line {
    width: 100%;
    height: 13px;
    margin-bottom: 18px;
}

.footer__list-item {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    /* identical to box height, or 12px */
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    color: #797979;
}

.footer__list-item-link, .footer__term-item-link {
    color: #797979;
}

.footer__list-item-link:hover, .footer__term-item-link:hover {
    text-decoration: underline #797979;
     color: #797979;
 }

.footer__term {
    display: flex;
    width: 100%;
    margin-top: 16px;
}

.footer__term-item {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    /* identical to box height, or 12px */
    display: flex;
    align-items: center;
    color: #797979;
    margin-right: 20px;
}

.footer__copyright {
    /* Copyright © PR TIMES Inc. All Rights Reserved. */
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 100%;
    /* identical to box height, or 11px */
    display: flex;
    align-items: center;
    color: #797979;
    margin: 18px 20px 9px 0;
}
